<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Link-1-2</title>
    <link rel="stylesheet" href="style.css" media="all" />
    <style>
        body {
            height: 35cm; 
            width: 27cm;
            background-color: #EAF3FD;
        }
       
        table td{
            vertical-align: middle;
            text-align: center;
            padding: 10px 4px;
            font-size: 10px;
        }
    </style>
  </head>
  <body>
    <main style="padding: 20px;">
      <table>
        <tbody>
            <tr id="part-2" class="part-container">
                <td>
                    <div style="background-color: white;">
                        <div>
                            <p style="margin-bottom: 0; text-align: center; background-color: #2a98fc; color: white; font-size: 14px; font-weight: bold; padding: 8px;">PORTABLE APPLIANCE REGISTER</p>
                        </div>
                        <div style="display: flex; justify-content:end; padding: 15px; align-items:center ;">
                            <div style="display: flex;">
                                <div style="border: 1px solid #dddd; padding: 15px 30px; border-radius: 8px; margin-right: 15px;">
                                    <div style="font-size: 14px; margin-bottom: 15px;">Application Passes</div>
                                    <div style="background-color: #2a98fc; font-weight: bold; padding: 10px 5px; width: 150px; border-radius: 8px; color: white; font-size: 14px;">0</div>
                                </div>
                                <div style="border: 1px solid #dddd; padding: 15px 30px; border-radius: 8px; margin-right: 15px;">
                                    <div style="font-size: 14px; margin-bottom: 15px;">Application Failed</div>
                                    <div style="background-color: #2a98fc; font-weight: bold; padding: 10px 5px; width: 150px; border-radius: 8px; color: white; font-size: 14px;">0</div>
                                </div>
                            </div>
                            <div style="padding: 15px; background-color: #2a98fc; color: white; font-weight: bold; font-size: 14px; border-radius: 8px; margin-left: 100px;">
                                <div>0</div>
                                <div>Total Appliances</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
          <tr id="part-2" class="part-container">
            <td>
                <div style="background-color: white;">
                    <div>
                        <p style="margin-bottom: 0; text-align: center; background-color: #2a98fc; color: white; font-size: 14px; font-weight: bold; padding: 8px;">PORTABLE APPLIANCE REGISTER</p>
                    </div>
                    <table style="border-collapse: collapse;">
                        <thead>
                            <tr>
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Circuit number</td>
                                <td rowspan="3" style="border: 1px solid #2a98fc;">
                                    <div>Appliance number</div>
                                    <div>Appliance</div>
                                </td>
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Class</td>
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Polarity</td>
                                <td rowspan="3" style="border: 1px solid #2a98fc;">Location</td>
                                <td rowspan="3" style="border: 1px solid #2a98fc;">Serial number/ID</td>
                                <td colspan="4" style="border: 1px solid #2a98fc;">Test Results</td>
                                
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Fuse rating (A)</td>
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Formal Visual inspection (months)</td>
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Combined Inspection & Test (months)</td>
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Result</td>
                                <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(0deg); border: 1px solid #2a98fc;">Repair Code</td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="writing-mode: vertical-rl; transform: rotate(0deg); position: relative; width: 25px; border: 1px solid #2a98fc;">
                                    Earth Continuity Test (Ω)
                                </td>
                                <td rowspan="2" style="writing-mode: vertical-rl; transform: rotate(0deg); position: relative; width: 25px; border: 1px solid #2a98fc;">
                                    Earth Continuity Test (Ω)
                                </td>
                                <td rowspan="2" style="writing-mode: vertical-rl; transform: rotate(0deg); position: relative; width: 25px; border: 1px solid #2a98fc;">
                                    Earth Continuity Test (Ω)
                                </td>
                                <td rowspan="2" style="writing-mode: vertical-rl; transform: rotate(0deg); position: relative; width: 25px; border: 1px solid #2a98fc;">
                                    Earth Continuity Test (Ω)
                                </td>                           
                               
                               
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                           <tr>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                            <td style="border: 1px solid #2a98fc;"></td>
                           </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>
        <div style="display: flex; justify-content: space-between;">
          <img src="footer-logo.png" style="width: 250px; object-fit: contain;">
          <div>
            page 2 of <span style="border: 1px solid #DDDD; padding: 8px 12px; display: inline-block; margin-left: 5px;">2</span>
          </div>
        </div>
      </footer>
  </body>
</html>