<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Link-4</title>
    <link rel="stylesheet" href="style.css" media="all" />
    <style>
        body {
            height: 49cm; 
            background-color: #EAF3FD;
            /* padding: 0 40px; */
        }
        * {box-sizing: border-box !important;}
    </style>
     <style>
      td {
            width: calc(100% / 16) !important;
        }
        table, footer {
    /* break-inside: avoid; */
  }

    </style>
    <style type="text/css" media="print">
      @page {
  size: landscape;
}

@media print {
  footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
}
  </style>
  </head>
  <body>
    <header style="margin-bottom: 0;padding: 0;">
      <div id="logo" style="margin: 0;">
        <img src="main-logo.png" style="width: 150px; object-fit: contain;">
        <img src="Image 1.png">
      </div>
      <div id="information">
        <div class="btns">
          <div>
            <span style="font-weight: bold; text-align: left; direction: ltr;">EVM2C</span>
            <span style="background-color: white; width: 150px ">DRAFT</span>
          </div>
        </div>
        <p style="margin-top: 15px; font-size: 16px;">GAS TESTING AND PURGING - DOMESTIC (NG)</p>
      </div>
    </header>
    <main style="padding: 10px;">
      <table style="border-collapse: separate;
      border-spacing: 0px 5px;">
        <tbody>
          <tr id="part-2" class="">
            <td>
              <div style="color: #FFFFFF;
                          background-color: #2a98fc;
                          font-size: 10px;
                          font-weight: bold;
                          padding: 10px;">PART 1 : DETAILS OF THE CONTRACTOR, CLIENT AND INSTALLATION</div>
              <div style="font-size: 0; background-color: white; padding: 10px;">
                <div style="display: inline-block; width: 33.333333333%; padding: 0px 15px; font-size: 10px; border-right: 2px solid #2a98fc;">
                  <p style="color: #2a98fc; font-weight: bold;">COMPANY/ENGINEER</p>
                  <div style="margin-bottom: 5px;">
                      <label style="width: 35%; display: inline-block; ">Company Name:</label>
                      <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Gas Safe Register No:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Gas Safe Register Licence No:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Gas Safe Register License No:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Address:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px; height: 50px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px; font-size: 0;">
                    <div style="display: inline-block; width: 50%; ; font-size: 10px;">
                      <label style="display: inline-block; ">Postcode:</label>
                      <div style="display: inline-block; width: 93px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                    </div>
                    <div style="display: inline-block; width: 50%; ; font-size: 10px;">
                      <label style="display: inline-block; ">Tel No:</label>
                      <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                    </div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Email</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                </div>
                </div>
                <div style="display: inline-block; width: 33.333333333%; padding: 0px 15px; font-size: 10px; vertical-align: top;  border-right: 2px solid #2a98fc; height: 263px;">
                  <p style="color: #2a98fc; font-weight: bold;">JOB ADDRESS</p>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Address:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px; height: 50px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Postcode:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Name:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Tel No:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Email:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                </div>
                </div>
                <div style="display: inline-block; width: 33.333333333%; padding: 0px 15px; font-size: 10px; vertical-align: top;">
                  <p style="color: #2a98fc; font-weight: bold;">OWNER OF CARAVAN/BOAT BEING INSPECTED (OR AGENT WHERE APPROPRIATE)</p>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Name:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Company:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Address:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px; height: 50px;">test</div>
                  </div>
                  <div style="margin-bottom: 5px; font-size: 0;">
                    <div style="display: inline-block; width: 50%; ; font-size: 10px;">
                      <label style="display: inline-block; ">Postcode:</label>
                      <div style="display: inline-block; width: 93px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                    </div>
                    <div style="display: inline-block; width: 50%; ; font-size: 10px;">
                      <label style="display: inline-block; ">Tel No:</label>
                      <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                    </div>
                  </div>
                  <div style="margin-bottom: 5px;">
                    <label style="width: 35%; display: inline-block; ">Email:</label>
                    <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                </div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: white; font-size: 10px;">
            <td>
              <table style="border-collapse: collapse; width: 99%; margin:  5px auto;">
                <thead>
                  <tr style="background-color: #2a98fc; color: white;">
                    <td style="border: 1px solid #2a98fc; text-align: left; vertical-align: middle; padding: 10px; font-weight: bold;">INSTALLATION DETAILS</td>
                    <td style="border: 1px solid #2a98fc; text-align: center; vertical-align: middle; padding: 10px;">PASS/FAIL</td>
                  </tr>
                </thead>
                <tbody style="background-color: white;">
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Indicate installation type</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Meter size/type e.g. U6, E6, G4, U16 or G10</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Is the meter installation medium pressure fed?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Record maximum installation pipework diameter installed</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="background-color: white; font-size: 10px; break-inside: avoid;">
            <td>
              <table style="border-collapse: collapse; width: 99%; margin:  5px auto;">
                <thead>
                  <tr style="background-color: #2a98fc; color: white;">
                    <td style="border: 1px solid #2a98fc; text-align: left; vertical-align: middle; padding: 10px; font-weight: bold;">CALCULATE INSTALLATION VOLUME (WHERE THE INSTALLATION VOLUME IS BELIEVED TO BE GRETER THAN 0.03M2)</td>
                    <td style="border: 1px solid #2a98fc; text-align: center; vertical-align: middle; padding: 10px;">YES/NO</td>
                  </tr>
                </thead>
                <tbody style="background-color: white;">
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Gas meter volume (m3)</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333; width: 150px;">(m3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Volume of installation pipework (m3)</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">(m3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Total installation volume (m3)</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">(m3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Where the total installation volume is greater than 0.035m3 the installation needs to be tight in accordance with either IGE/UP/1A or IGE/UP/1</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Tightness test(s) carried out</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 600px;">Operating pressure in mbars</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td colspan="2"  style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; font-weight: bold;">Reason for tightness test 1</label>
                        <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; ">Let-by test carried out</label>
                        <div style="display: inline-block; width: 40%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">If Yes, Record what is included in the tightness test:</div>
                      <div style="margin-bottom: 5px; font-size: 0;">
                        <div style="display: inline-block; font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Permissible pressure loss:</label>
                          <div style="display: inline-block; width: 93px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Actual pressure loss:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px;">
                          <label style="display: inline-block; ">Tightness test:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"  style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; font-weight: bold;">Reason for tightness test 2</label>
                        <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; ">Let-by test carried out</label>
                        <div style="display: inline-block; width: 40%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">If Yes, Record what is included in the tightness test:</div>
                      <div style="margin-bottom: 5px; font-size: 0;">
                        <div style="display: inline-block; font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Permissible pressure loss:</label>
                          <div style="display: inline-block; width: 93px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Actual pressure loss:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px;">
                          <label style="display: inline-block; ">Tightness test:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"  style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; font-weight: bold;">Reason for tightness test 3</label>
                        <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; ">Let-by test carried out</label>
                        <div style="display: inline-block; width: 40%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">If Yes, Record what is included in the tightness test:</div>
                      <div style="margin-bottom: 5px; font-size: 0;">
                        <div style="display: inline-block; font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Permissible pressure loss:</label>
                          <div style="display: inline-block; width: 93px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Actual pressure loss:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px;">
                          <label style="display: inline-block; ">Tightness test:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"  style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; font-weight: bold;">Reason for tightness test 4</label>
                        <div style="display: inline-block; width: 62%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">
                        <label style="width: 15%; display: inline-block; ">Let-by test carried out</label>
                        <div style="display: inline-block; width: 40%; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                      </div>
                      <div style="margin-bottom: 5px;">If Yes, Record what is included in the tightness test:</div>
                      <div style="margin-bottom: 5px; font-size: 0;">
                        <div style="display: inline-block; font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Permissible pressure loss:</label>
                          <div style="display: inline-block; width: 93px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px; margin-right: 30px;">
                          <label style="display: inline-block; ">Actual pressure loss:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                          <span>mbar*</span>
                        </div>
                        <div style="display: inline-block;font-size: 10px;">
                          <label style="display: inline-block; ">Tightness test:</label>
                          <div style="display: inline-block; width: 107px; margin-left: 4px; border: 1px solid #ddd; padding: 5px 10px;">test</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="background-color: white; font-size: 10px; break-inside: avoid;">
            <td>
              <table style="border-collapse: collapse; width: 99%; margin:  5px auto;">
                <thead>
                  <tr style="background-color: #2a98fc; color: white;">
                    <td style="border: 1px solid #2a98fc; text-align: left; vertical-align: middle; padding: 10px; font-weight: bold;">PURGING DETAILS</td>
                    <td style="border: 1px solid #2a98fc; text-align: center; vertical-align: middle; padding: 10px;"></td>
                  </tr>
                </thead>
                <tbody style="background-color: white;">
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px; font-weight: bold;">Calculate the installation purge volume below</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">For an E6/G4/U6 gas meter and installation pipework ≤ 28mm use</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;" colspan="2">For installation with E6/G4/U6 Gas meters and installation pipework ≥ 26mm to ≤ 35mm or G10/U16 meters with or without installation pipework, the purge volume needs to be calculated</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">A. Gas meter purge volume m3</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">B. Installation pipework volume m3 x 1.5</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">C. Total installation purge voulme = A + B</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Has purge been completed satisfactorily</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;" colspan="2">Note: Where the calculated purge volume is greater than 0.02 m3 the purged mixture must be ignites at a burner as soon as possible either at an installed or a temporarily installed burner</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="background-color: white; font-size: 10px;">
            <td>
              <table style="border-collapse: collapse; width: 99%; margin:  5px auto;">
                <thead>
                  <tr style="background-color: #2a98fc; color: white;">
                    <td style="border: 1px solid #2a98fc; text-align: left; vertical-align: middle; padding: 10px; font-weight: bold;">PURGING DETAILS</td>
                    <td style="border: 1px solid #2a98fc; text-align: center; vertical-align: middle; padding: 10px;"></td>
                  </tr>
                </thead>
                <tbody style="background-color: white;">
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Record the operating pressure at the outlet of the gas meter (mbar) where applicable</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">(m3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Is the gas installation pipework satisfactory? (visual inspection)</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">0.01m3 (0.35ft3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Is the Emergency Control Valve (ECV)/Additional Emergency Control Valve (AECV) accessible?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">(m3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Is equipotential bonding present and correctly positioned?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">(m3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Has installation/appliance(s) been commissioned/put back into operation as appropriate?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;">(m3)</td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Is gas installation safe for use?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">If No. has a Warning/Advice Notice been issued?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">If Yes. give Warning/Advice Notice Serial No.?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                  <tr>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;  width: 700px;">Have any disturbed joints e.g. pressure test point been tested with a suitable Leak Detection Fluid (LDF) or gas leak detector?</td>
                    <td style="text-align: left; vertical-align: middle; padding: 5px; border: 1px solid #2a98fc; color: #333;"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="background-color: white; font-size: 10px;page-break-inside: avoid;">
            <td style="padding: 10px;">
              <div style="padding-left: 20px; display: inline-block; width: 45%;margin-bottom: 30px;">This Gas Testing and Purging form is issued by Signed:<span style="margin-left: 15px;"></span></div>
              <div style="padding-left: 20px; display: inline-block; width: 45%;margin-bottom: 30px;">Date: <span style="margin-left: 15px;"></span></div>
              <div style="padding-left: 20px; display: inline-block; width: 45%;margin-bottom: 10px;">Received by Tenant/Landlord/ Agent/Home Owner. Signed:<span style="margin-left: 15px;"></span></div>
              <div style="padding-left: 20px; display: inline-block; width: 45%;margin-bottom: 10px;">The gas user was not present at the time of the visit: <span style="margin-left: 15px;"></span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <img src="footer-logo.png" style="width: 250px; object-fit: contain;">
        <!-- <div>
          page 1 of <span style="border: 1px solid #DDDD; padding: 8px 12px; display: inline-block; margin-left: 5px;">1</span>
        </div> -->
      </div>
    </footer>
  </body>
</html>