<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page 2</title>
    <link rel="stylesheet" href="style.css" media="all" />
    <style>
        * {
            box-sizing: border-box;
        }

        td {
            width: calc(100% / 16) !important;
        }
        table {
            table-layout:fixed;
        }
    </style>
  </head>
  <body>

    <main>
      <table style="border-collapse: separate;
      border-spacing: 0 15px;">
        <tbody>
           <tr>
                <td>
                    <table style="border-collapse: collapse; border-spacing: 0;">
                        <tr>
                            <td colspan="16">
                                <div style="display: flex; justify-content: space-around; background-color: #2a98fc; color: white; padding: 10px; font-weight: bold;">
                                    <span>APPLIANCE DETAILS</span>
                                    <span>APPLIANCE RESULTS</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Appliance Number
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Location
                            </td>
                
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Type
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  0px; font-size: 8px;">
                                Manufacturer
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Model
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Owned By Landlord/ Homeowner?
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Inspected Yes/No?
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Type Of Flue
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Operating Pressure In Mbar &/Or Heat Input kW/ H Or Btu/H
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Operation Of Safety Device(S) Pass/Fail Or N/A
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Ventilation Satisfactory Yes/No
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Visual Condition Of Flue & Termination Pass/Fail / N/A
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Flue Operation Checks Pass /Fail/N/A
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Combustion Analyser Reading (If Applicable)
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                Serviced Yes/No?
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; padding: 20px  5px; font-size: 8px;">
                                Safe To Use Yes/No?
                            </td>
                        </tr>
                    </table>
                </td>
           </tr>
        <tr>
            <td>
                <table style="border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            1
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Kitchen
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Boiler
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Vaillant
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Ecotec Pro 28
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Yes
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Yes
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            RS
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            20Mbar
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Pass
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Yes
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Pass
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Pass
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            0.0008
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            N/A
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; padding: 20px  5px; font-size: 8px;">
                            <img src="min-true.png" width="20px" alt="">
                        </td>
                    </tr>
                    <tr >
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td colspan="3">
                                        <div style="background-color: #2a98fc;">lorem</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            1
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Kitchen
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Hob
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Zanussi
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            4 Burners
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Yes
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Yes
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            FL
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            7.8Kw
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Pass
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            Yes
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            N/A
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            N/A
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            N/A
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            N/A
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; padding: 20px  5px; font-size: 8px;">
                            <img src="min-true.png" width="20px" alt="">
                        </td>
                    </tr>
                    <tr >
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td colspan="3">
                                        <div style="background-color: #2a98fc;">lorem</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
       <tr>
        <td>
            <table style="border-collapse: collapse; border-spacing: 0;">
                <tr>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                    <td style="background-color: white; vertical-align: middle; text-align: center; padding: 20px  5px; font-size: 8px;">
                        
                    </td>
                </tr>
                <tr >
                    <td colspan="2">
                        <table>
                            <tr>
                                <td colspan="3">
                                    <div style="background-color: #2a98fc;">lorem</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                            </tr>
                            <tr>
                                <td style="font-size: 7px; background-color: white;">null</td>
                                <td style="font-size: 7px; background-color: white;">null</td>
                                <td style="font-size: 7px; background-color: white;">null</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        </tr>
        <tr>
            <td>
                <table style="border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                        <td style="background-color: white; vertical-align: middle; text-align: center; padding: 20px  5px; font-size: 8px;">
                            
                        </td>
                    </tr>
                    <tr >
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td colspan="3">
                                        <div style="background-color: #2a98fc;">lorem</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                    <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                    <td style="font-size: 7px; background-color: white;">null</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            </tr>
            <tr>
                <td>
                    <table style="border-collapse: collapse; border-spacing: 0;">
                        <tr>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; border-right: 1px solid #ddd;padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                            <td style="background-color: white; vertical-align: middle; text-align: center; padding: 20px  5px; font-size: 8px;">
                                
                            </td>
                        </tr>
                        <tr >
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td colspan="3">
                                            <div style="background-color: #2a98fc;">lorem</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                        <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                        <td style="font-size: 7px; background-color: white;">Approved CO Alarm Fitted?</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 7px; background-color: white;">null</td>
                                        <td style="font-size: 7px; background-color: white;">null</td>
                                        <td style="font-size: 7px; background-color: white;">null</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
        
        </tbody>
      </table>
    </main>
    <footer>
      <div style="display: flex; justify-content: space-between;">
        <img src="footer-logo.png" style="width: 250px; object-fit: contain;">
        <div>
          page 2 of <span style="border: 1px solid #DDDD; padding: 8px 12px; display: inline-block; margin-left: 5px;">2</span>
        </div>
      </div>
    </footer>
  </body>
</html>